services:
  mongodb:
    image: mongo:latest
    ports:
      - 27017:27017
  app:
    depends_on:
      - mongodb
    build:
      dockerfile: base.Containerfile
    expose:
      - 3000
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=development
    working_dir: /app
    volumes:
      - ..:/app:z
    command: bun run dev -- -p 3000
