$breakpoint: 1200px;

.wrapper {
  min-height: 100vh;
}

.bento {
  --spacing: 1.25rem;

  display: grid;
  padding-block-end: var(--spacing);
  gap: var(--spacing);

  @media (min-width: 1200px) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.navbar {
  grid-column: 1 / -1;
}

.bento-subsection {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  gap: inherit;
}

.metadata {
  @media (min-width: 1200px) {
    grid-column: 4 / -1;
  }
}

.portrait {
  width: 100%;
  height: 100%;

  @media (min-width: 1200px) {
    grid-column: 1 / 4;
  }
}

.tags {
  @media (min-width: 1200px) {
    grid-column: 1 / -1;
  }
}

.bio {
  @media (min-width: 1200px) {
    grid-column: 1 / 9;
  }
}

.contact {
  @media (min-width: 1200px) {
    grid-column: 9 / -1;
  }
}
