.list {
  --portrait-size: 16rem;

  display: grid;
  row-gap: 3rem;
  align-content: start;

  @media (min-width: 720px) {
    grid-template-columns: var(--portrait-size) 1fr;
  }
}

.item {
  grid-column: 1 / -1;
}

.empty-state {
  font-size: 1.25rem;
}
