.lecturer-item {
  --spacing: 1.25rem;

  display: grid;
  grid-template-columns: subgrid;
  gap: 1.25rem;
}

.portrait {
  width: 100%;
  height: 100%;
  min-height: var(--portrait-size);
  aspect-ratio: initial;

  @media (max-width: 720px) {
    aspect-ratio: 16 / 10;
  }
}

.metadata {
  flex-grow: 1;

  @media (max-width: 900px) {
    padding: 1.2rem;
  }
}

.link {
  grid-column: 1 / -1;

  display: block;
  color: currentColor;
  text-decoration: none;

  font-weight: 700;
  text-align: center;
  font-family: var(--font-accent);
  line-height: 1;
  font-size: 1.2rem;

  @media (min-width: 720px) {
    font-size: 1.4rem;
  }

  .card {
    padding: 0.6em;
  }
}
