.view {
  display: grid;
  gap: 3rem;

  @media (min-width: 1200px) {
    grid-template-columns: 24rem 1fr;
  }
}

.show-filters-section {
  grid-column: 1 / -1;

  @media (min-width: 1200px) {
    display: none;
  }
}
