---
import Card from "../../widgets/Card.astro";
import Icon from "../../widgets/Icon.astro";
---

<div data-home-filters="hidden">
  <Card class="card">
    <div class="card-content">
      <div class="card-title">
        <h2>Filtry</h2>
        <button class="close-button"><Icon icon="close" /></button>
      </div>

      <slot />
    </div>
  </Card>
  <div class="backdrop"></div>
</div>

<style lang="scss">
  [data-home-filters] {
    --scroll-margin: 1.5rem;

    position: relative;
    isolation: isolate;
  }

  .card {
    padding: 0;
    max-width: 24rem;
    align-content: stretch;
  }

  .card-content {
    height: 100%;
    overflow-y: auto;
    border-radius: inherit;
    padding: 1.5rem;
  }

  .card-title {
    margin-block-end: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .close-button {
    width: 1em;
    height: 1em;
    padding: 0;
    border: none;

    appearance: none;
    background: none;

    cursor: pointer;

    font-size: 1.4rem;

    display: none;
  }

  .backdrop {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: hsl(0 0% 0% / 0.4);

    display: none;
  }

  @media (max-width: 1200px) {
    .close-button,
    .backdrop {
      display: block;
    }

    [data-home-filters] {
      position: fixed;
      z-index: 999;
      inset: 0;

      transition: opacity 0.2s ease;

      &:not([data-home-filters="visible"]) {
        opacity: 0;
        pointer-events: none;
      }
    }

    .card {
      position: absolute;
      inset-block-start: var(--scroll-margin);
      inset-block-end: calc(var(--card-border-radius) * -1);
      inset-inline: var(--scroll-margin);
      margin-inline: auto;
      margin-block-start: auto;
      padding-block-end: var(--card-border-radius);
      max-height: calc(var(--card-border-radius) + 48rem);

      transition: translate 0.2s ease;

      :not([data-home-filters="visible"]) & {
        translate: 0 4rem;
      }
    }
  }

  @media (min-width: 1200px) {
    .card {
      position: sticky;
      inset-block-start: var(--scroll-margin);
      height: calc(100vh - 2 * var(--scroll-margin));
    }
  }
</style>

<script>
  const sheets = document.querySelectorAll("[data-home-filters]");

  for (const _sheet of sheets) {
    const sheet = _sheet as HTMLElement;

    const closeButton = sheet.querySelector(".close-button") as HTMLElement;
    const backdrop = sheet.querySelector(".backdrop") as HTMLElement;

    const close = () => {
      sheet.setAttribute("data-home-filters", "hidden");
    };
    closeButton.addEventListener("click", close);
    backdrop.addEventListener("click", close);
  }
</script>
