*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  color: var(--color-white);

  @media (prefers-color-scheme: light) {
    color: var(--color-jet);
  }
}

img {
  display: block;
  max-width: 100%;
}
