:root {
  --card-background-color: var(--color-jet);
  --card-shadow: 0 0.25rem 1rem hsl(0 0% 0% / 0.2);
  --card-border-radius: 2rem;
  --card-border-size: 2px;
  --card-border-color-lightness: 100%;
  --card-border-color-opacity: 0.15;
  --card-border-color: hsl(
    0 0% var(--card-border-color-lightness) / var(--card-border-color-opacity)
  );

  @media (prefers-color-scheme: light) {
    --card-background-color: var(--color-white);
    --card-border-color-lightness: 0%;
  }
}
