.card {
  padding: var(--card-padding);
  position: relative;
  isolation: isolate;

  display: grid;
  align-content: center;

  box-shadow: var(--card-shadow);
  border: var(--card-border-size) solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  background-color: var(--card-background-color);

  &::before {
    content: "";
    position: absolute;
    left: calc(var(--card-border-size) * -1);
    top: clamp(var(--card-border-radius), 4rem, 25%);
    width: var(--card-border-size);
    height: min(6rem, calc(100% - 2 * var(--card-border-radius)));
    background-image: linear-gradient(
      transparent,
      var(--color-sky-blue),
      transparent
    );
    opacity: 0.75;
  }

  .background {
    position: absolute;
    inset: 0;
    overflow: clip;
    border-radius: inherit;
    z-index: -1;
  }

  .background > :nth-child(1) {
    position: absolute;
    width: 24rem;
    opacity: 0.15;
  }

  .background[data-decorated="right"] > :nth-child(1) {
    rotate: 45deg;
    right: -4rem;
    bottom: -20rem;
  }

  .background[data-decorated="left"] > :nth-child(1) {
    rotate: -45deg;
    left: -4rem;
    bottom: -20rem;
  }
}
