.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  background-color: transparent;

  .dialog-card {
    gap: 2rem;
  }
}

.dialog::backdrop {
  background-color: hsl(0 0% 0% / 0.4);
  backdrop-filter: blur(0.5rem);
}
