.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  background-color: transparent;

  .dialog-card {
    gap: 2rem;

    .dialog-btns {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

.dialog::backdrop {
  background-color: hsla(0, 0%, 0%, 0.69);
}
