.banner.fixed {
  --padding-inline: 0rem;

  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  z-index: 999;

  padding: 1rem;
  background-color: hsl(0 0% 0% / 0.2);
  border-block-end: 2px solid hsl(0 0% 0% / 0.1);
  box-shadow: var(--card-shadow);
  backdrop-filter: blur(0.5rem);

  transition:
    translate 0.2s ease,
    opacity 0.2s ease;

  &:not([data-visible="true"]) {
    translate: 0 -1.5rem;
    opacity: 0;
    pointer-events: none;
  }
}
