.result {
  width: 1em;
  height: 1em;
  order: 3;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    position: absolute;
  }

  &[data-result="false"] {
    color: var(--color-error);

    &::before,
    &::after {
      top: 50%;
      translate: 0 -50%;
      rotate: 45deg;
    }

    &::after {
      rotate: -45deg;
    }
  }

  &[data-result="true"] {
    color: var(--color-success);

    &::before {
      top: 52%;
      left: 15%;
      translate: 0 -50%;
      width: 35%;
      rotate: 45deg;
    }

    &::after {
      top: 50%;
      right: 0;
      translate: 0 -50%;
      width: 65%;
      rotate: -45deg;
    }
  }
}
