@use "../../app/colorFunctions.scss" as colors;

.wrapper {
  position: relative;

  --border-size: 2px;
  --border-lightness: 60%;
  --border-color: hsl(0 0% var(--border-lightness));
  --border: var(--border-size) solid var(--border-color);
  --drop-size: 0.6rem;

  @media (prefers-color-scheme: light) {
    --border-lightness: 80%;
  }
}

.profile-button {
  cursor: pointer;
}

.dropdown-wrapper {
  filter: drop-shadow(var(--card-shadow));
  transition: all 0.2s ease;

  &:not([data-visible="true"]) {
    translate: 0 -1rem;
    opacity: 0;
    pointer-events: none;
  }

  &::after {
    --_size: calc(var(--drop-size) / sin(45deg));

    content: "";
    position: absolute;
    inset-block-start: calc(100% + (var(--_size) - var(--drop-size)));
    inset-inline-end: 50%;

    display: block;
    background-color: var(--color-white);
    border-top: var(--border);
    border-left: var(--border);
    width: var(--_size);
    height: var(--_size);

    rotate: 45deg;
    translate: 50%;
    transform-origin: center;
  }
}

.dropdown {
  position: absolute;
  inset-block-start: calc(100% + var(--drop-size));
  inset-inline-end: 0;
  background-color: var(--color-white);
  color: var(--color-jet);
  padding: 0.4rem;
  border: var(--border);
  border-radius: 0.8rem;
  width: 10rem;

  display: grid;
  gap: 0.2rem;

  hr {
    border: none;
    height: var(--border-size);
    background-color: var(--border-color);
    opacity: 0.25;
  }
}

.user-item {
  padding: 0.4rem;
  display: grid;
  gap: 0.2rem;
  // text-align: center;
  p {
    font-weight: 700;
  }

  small {
    font-size: 0.75rem;
  }
}

.button-item {
  appearance: none;
  border: none;
  background: none;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 0.4rem;

  :where(&) {
    color: currentColor;
  }

  &:hover {
    background-color: #{colors.alpha(currentColor, 10%)};
    border-radius: 0.4rem;
  }
}
