---
import { getAll } from "../models/Lecturer";
import createPlaceholderData from "../placeholderData";

import Layout from "../layout/Layout.astro";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import HomeView from "../components/partials/home/HomeView.astro";

await createPlaceholderData();

const lecturers = await getAll();
---

<Layout>
  <Header class="header" />
  <main class="content-grid" style="margin-block: 4rem;">
    <HomeView lecturers={lecturers} class="breakout" />
  </main>
  <Footer />
</Layout>

<style lang="scss"></style>
