---
import Header from "../layout/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TdA24</title>
  </head>
  <body>
    <Header />
  </body>
</html>

<style lang="scss">
  $jet: #333333;
  $prussian_blue: #00384d;
  $white: #ffffff;
  $sky_blue: #74c7d3;
  $sunglow: #fecb2e;

  * {
    margin: 0;
    padding: 0;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 255.587px;
    height: 198.747px;
    padding: 43px 43.097px 44.087px 44px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .top-vector {
    position: absolute;
    top: 0;
    left: 0;
  }
</style>
