---
type Props = {
  [prop: string]: any;
};

const { ...props } = Astro.props;
---

<div {...props}>
  {
    ["Praha", "Brno", "České Budějovice"].map((e) => (
      <div>
        <input type="checkbox" name="" id="" />
        <label for="">{e}</label>
      </div>
    ))
  }
</div>
