$colors: (
  "sky-blue": #74c7d3,
  "white": #ffffff,
  "jet": #333333,
  "prussian-blue": #00384d,
  "sunglow": #fecb2e,
  "error": #cc2222,
  "success": #339955,
);

:root {
  @each $color, $value in $colors {
    --color-#{$color}: #{$value};
  }
}

@each $color, $value in $colors {
  .text-#{$color} {
    color: var(--color-#{$color});
  }

  .background-#{$color} {
    background-color: var(--color-#{$color});
  }
}
