@use "./colorFunctions.scss" as colors;

:root {
  // Cards

  --card-padding: 3.5rem;
  --card-background-color: var(--color-jet);
  --card-shadow: 0 0.25rem 1rem hsl(0 0% 0% / 0.2);
  --card-border-radius: 2rem;
  --card-border-size: 2px;
  --card-border-color-base: var(--color-white);
  --card-border-color-opacity: 15%;
  --card-border-color: #{colors.alpha(
      var(--card-border-color-base),
      var(--card-border-color-opacity)
    )};

  --__colorFunctions-themize-color: white;
  --__colorFunctions-athemize-color: black;

  @media (prefers-color-scheme: light) {
    --card-background-color: var(--color-white);
    --card-border-color-base: var(--color-jet);
    --card-border-color-opacity: 20%;

    --__colorFunctions-themize-color: black;
    --__colorFunctions-athemize-color: white;
  }

  @media (max-width: 720px) {
    --card-padding: 2rem;
  }
}
