@function lighter($color, $percentage) {
  @return color-mix(in srgb, $color, white $percentage);
}

@function darker($color, $percentage) {
  @return color-mix(in srgb, $color, black $percentage);
}

@function themize($color, $percentage) {
  @return color-mix(
    in srgb,
    $color,
    var(--__colorFunctions-themize-color) $percentage
  );
}

@function athemize($color, $percentage) {
  @return color-mix(
    in srgb,
    $color,
    var(--__colorFunctions-athemize-color) $percentage
  );
}

@function alpha($color, $percentage) {
  @return color-mix(in srgb, $color, transparent calc(100% - #{$percentage}));
}
