@use "root";
@use "misc";
@use "colors";
@use "fonts";
@use "typography";

.visually-hidden {
  position: fixed;
  top: 0;
  right: 100%;

  display: block;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.unstyled-link {
  color: inherit;
  text-decoration: unset;
}

.content-grid {
  --padding-inline: 1.5rem;
  --content-max-width: 140ch;
  --breakout-max-width: 180ch;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  // prettier-ignore
  grid-template-columns:
    [full-width-start]
    minmax(var(--padding-inline), 1fr)
    [breakout-start]
    minmax(0, var(--breakout-size))
    [content-start]
    min(calc(100% - (var(--padding-inline) * 2)), var(--content-max-width))
    [content-end]
    minmax(0, var(--breakout-size))
    [breakout-end]
    minmax(var(--padding-inline), 1fr)
    [full-width-end];

  > * {
    grid-column: content;
  }

  > .breakout {
    grid-column: breakout;
  }

  > .full-width {
    grid-column: full-width;
  }
}

.content-flow > * + * {
  margin-block-start: 1em;
}
