@use "../../../../app/colorFunctions.scss" as colors;

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  margin-block-end: 1rem;
}

.title,
.footer {
  text-align: center;
}

.error-box {
  --color: hsl(0 80% 50%);
  color: #{colors.themize(var(--color), 40%)};
  background-color: #{colors.athemize(currentColor, 80%)};
  border: 2px solid #{colors.athemize(currentColor, 60%)};
  border-radius: 0.8rem;
  padding: 0.8rem;
  line-height: 1.5;

  &.info {
    --color: var(--color-sky-blue);
  }
}

.submit-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 2rem;

  .check {
    margin-inline-end: auto;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.4ch;

  margin-block-start: 1rem;
  font-size: 0.8rem;

  a {
    text-decoration: none;
    font-weight: 800;
  }
}

.loading-pane {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  border-radius: var(--card-border-radius);
  backdrop-filter: blur(2px);
  transition: opacity 0.2s ease;

  &:not([data-visible="visible"]) {
    opacity: 0;
    pointer-events: none;
  }
}
