---
import BackgroundBlob from "./BackgroundBlob.astro";

type Props = {
  decorated?: "right" | "left";
  [prop: string]: any;
};

const { decorated = "right", ...props } = Astro.props;
---

<div {...props}>
  <slot />

  <span class="background" data-decorated={decorated}>
    <BackgroundBlob />
  </span>
</div>

<style lang="scss">
  div {
    padding: var(--card-padding);
    position: relative;
    isolation: isolate;

    box-shadow: var(--card-shadow);
    border: var(--card-border-size) solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    background-color: var(--card-background-color);

    &::before {
      content: "";
      position: absolute;
      left: calc(var(--card-border-size) * -1);
      top: 4rem;
      width: var(--card-border-size);
      height: 6rem;
      background-image: linear-gradient(
        transparent,
        var(--color-sky-blue),
        transparent
      );
      opacity: 0.75;
    }
  }

  .background {
    position: absolute;
    inset: 0;
    overflow: clip;
    border-radius: inherit;
    z-index: -1;
  }

  .background > :nth-child(1) {
    position: absolute;
    width: 24rem;
    opacity: 0.15;
  }

  .background[data-decorated="right"] > :nth-child(1) {
    rotate: 45deg;
    right: -4rem;
    bottom: -20rem;
  }

  .background[data-decorated="left"] > :nth-child(1) {
    rotate: -45deg;
    left: -4rem;
    bottom: -20rem;
  }
</style>
