.header {
  --border-lightness: 100%;
  --border-opacity: 0.2;

  border-block-end: 2px solid
    hsl(0 0% var(--border-lightness) / var(--border-opacity));

  @media (prefers-color-scheme: light) {
    --border-lightness: 0%;
    --border-opacity: 0.06;
  }
}
