.header {
  --border-lightness: 100%;
  --border-opacity: 0.2;

  border-block-end: 2px solid
    hsl(0 0% var(--border-lightness) / var(--border-opacity));

  @media (prefers-color-scheme: light) {
    --border-lightness: 0%;
    --border-opacity: 0.06;
  }
}

.content {
  display: flex;
  flex-direction: column-reverse;
  gap: 1em;
  padding-block-start: 5em;
  padding-block-end: 8em;

  @media (max-width: 720px) {
    font-size: 0.8rem;
  }

  @media (min-width: 1200px) {
    font-size: 1.4rem;
  }
}

.title {
  font-size: 4em;
  max-width: 16ch;

  span {
    background-image: url("/images/title-ellipse.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.subtitle {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1.2em;
}
