.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-end: 1.5rem;

  .logo-link,
  .menu-button {
    color: currentColor;
  }
}

.logo {
  display: block;
  height: 7rem;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @media (min-width: 1200px) {
    gap: 2rem;
  }
}

.menu-button {
  padding-block-start: 5%;
  text-decoration: none;
  font-family: var(--font-accent);
  font-size: 1.15rem;
  transition: color 0.2s ease;

  @media (min-width: 1200px) {
    font-size: 1.3rem;
  }

  &:hover {
    color: var(--color-sky-blue);
  }
}
