.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-end: 1.5rem;

  a {
    color: currentColor;
  }
}

.logo {
  display: block;
  height: 7rem;
}

.menu-button {
  text-decoration: none;
  font-family: var(--font-accent);
  font-size: 1.3rem;
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-sky-blue);
  }
}
