---
import Logo from "./Logo.astro";

type Props = {
  [prop: string]: any;
};
---

<nav {...Astro.props}>
  <a href="/" title="Přejít na domovskou stránku">
    <Logo class="logo" aria-hidden="true" />
  </a>
</nav>

<style lang="scss">
  nav {
    display: flex;
  }

  a {
    color: currentColor;
  }

  .logo {
    display: block;
    height: 7rem;
  }
</style>
