---
import Logo from "./Logo.astro";
type Props = {
  [prop: string]: any;
};
---

<nav {...Astro.props} data-navbar>
  <a href="/" title="Přejít na domovskou stránku">
    <Logo class="logo" aria-hidden="true" variant="light" />
  </a>
</nav>

<style lang="scss">
  [data-navbar] {
    display: flex;
  }

  .logo {
    display: block;
    height: 7.25rem;
  }
</style>
