@use "../../../app/colorFunctions.scss" as colors;

.dialog {
  position: fixed;
  margin: auto;
  inset: 0;

  border: none;
  background-color: transparent;

  min-width: min(calc(100vw - 2 * var(--padding-inline)), 24rem);

  &::backdrop {
    background-color: hsl(0 0% 0% / 0.4);
    backdrop-filter: blur(0.5rem);
  }
}

.card {
  position: relative;
  border-radius: 1.4rem;
  padding: 0;
  isolation: isolate;
}
