.close-button {
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-end: 1rem;
  z-index: 999;

  appearance: none;
  background: none;
  border: none;
  padding: 0.4rem;
  font-size: 1em;
  cursor: pointer;
  opacity: 0.6;

  transition: opacity 0.2s ease;

  &:hover {
    opacity: 1;
  }
}
