.button-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.8rem;
  border-block-start: var(--card-border-size) solid var(--card-border-color);
}
