---
type Props = {
  name: string;
  claim: string;
  portrait: string;
};

const { name, claim, portrait } = Astro.props;
---

<div data-lecturer-header class="content-grid">
  <div class="content breakout">
    <div class="metainfo">
      <h1 class="name background-sunglow text-jet font-accent">{name}</h1>
      <p class="claim background-sky-blue text-jet font-body">{claim}</p>
    </div>
    <img class="portrait" src={portrait} alt="Fotka lektora" />
  </div>
  <div class="background-shape background-sky-blue"></div>
</div>

<style lang="scss">
  [data-lecturer-header] {
    position: relative;
    isolation: isolate;

    --_col-count: 3;
    --_col-gap: 1rem;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(var(--_col-count), 1fr);
    align-items: center;
    gap: var(--_col-gap);

    @media (max-width: 720px) {
      grid-template-columns: unset;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .metainfo {
    grid-column: 1 / -2;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: clamp(1.2rem, calc(2vw + 0.1rem), 2rem);

    padding-block-end: 2rem;

    > * {
      --_padding: 0.4rem;

      line-height: 1;
      padding: var(--_padding);
      border-radius: calc(var(--_padding) * 2);
    }

    .name {
      font-size: 1.8em;
      padding-block-start: calc(var(--_padding) + 0.1em);
    }

    .claim {
      font-size: 0.8em;
    }
  }

  .portrait {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 25%;

    transform: scale(0.8) rotate(8.46deg);
  }

  .background-shape {
    grid-column: unset;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 60%;

    --_col-num: calc(var(--_col-count) - 1);
    --_apex-x: min(
      calc(
        ((100% - var(--breakout-max-width)) / 2) +
          (
            (var(--breakout-max-width) / var(--_col-count)) *
              (var(--_col-num) + 0.5)
          ) + (var(--_col-num) * var(--_col-gap))
      ),
      80%
    );

    clip-path: polygon(0 0, 100% 0, var(--_apex-x) 100%);

    @media (max-width: 720px) {
      height: 200px;
    }
  }
</style>
