@use "../../../app/colorFunctions.scss" as colors;

.button {
  --background: #{colors.alpha(currentColor, 10%)};
  --foreground: currentColor;
  --border: var(--background);

  appearance: none;
  background: none;

  font-size: 1rem;
  font-weight: 800;

  display: inline;
  padding: 0.4em 0.8em;
  border-radius: 0.6em;
  background-color: var(--background);
  border: 1px solid var(--border);
  color: var(--foreground);
  box-shadow: 0 0.2em 0.4em hsl(0 0% 0% / 0.2);
  text-decoration: none;
  text-align: center;

  cursor: pointer;

  &[data-button-variant="primary"] {
    --background: var(--color-white);
    --foreground: var(--color-jet);
    --border: hsl(0 0% 0% / 0.2);

    @media (prefers-color-scheme: light) {
      --background: var(--color-jet);
      --foreground: var(--color-white);
    }
  }
}
