@use "../../../app/colorFunctions.scss" as colors;

.button {
  --background: #{colors.alpha(currentColor, 10%)};
  --foreground: currentColor;
  --border: var(--background);

  appearance: none;
  background: none;

  font-size: 1em;
  font-weight: 800;
  font-family: inherit;

  display: inline;
  padding: 0.4em 0.8em;
  border-radius: 0.6em;
  background-color: var(--background);
  border: 1px solid var(--border);
  color: var(--foreground);
  box-shadow: 0 0.2em 0.4em hsl(0 0% 0% / 0.2);
  text-decoration: none;
  text-align: center;

  cursor: pointer;

  &.button-icon {
    padding-inline: 0.4em;
  }

  &[data-button-variant="primary"] {
    --background: var(--color-white);
    --foreground: var(--color-jet);
    --border: hsl(0 0% 0% / 0.2);

    @media (prefers-color-scheme: light) {
      --background: var(--color-jet);
      --foreground: var(--color-white);
    }
  }

  &[data-button-variant="accent"] {
    --background: var(--color-sky-blue);
    --foreground: var(--color-jet);
    --border: hsl(0 0% 0% / 0.2);
  }

  &[data-button-variant="warning"] {
    --background: var(--color-sunglow);
    --foreground: var(--color-jet);
    --border: hsl(0 0% 0% / 0.2);
  }

  &[data-button-variant="destructive"] {
    --background: var(--color-error);
    --foreground: var(--color-white);
    --border: hsl(0 0% 100% / 0.4);
  }

  &[data-button-variant="success"] {
    --background: var(--color-success);
    --foreground: var(--color-white);
    --border: hsl(0 0% 100% / 0.4);
  }
}
