@use "../../../app/colorFunctions.scss" as colors;

.textfield-row {
  --border-color: currentColor;
  --border-color-computed: #{colors.themize(var(--border-color), 10%)};
  --border-opacity: var(--card-border-color-opacity);

  --padding: 0.6em;

  display: grid;
  gap: 0.5em;

  * {
    color: var(--border-color-computed);
  }

  .required-label {
    display: block;
    color: var(--color-sky-blue);
    border: 1px solid var(--color-sky-blue);
    border-radius: 100vmax;
    padding: 0.15em 0.5em;
    font-size: 0.6em;
    font-weight: 600;

    transition: all 0.2s ease;

    &.emphasize {
      background-color: var(--color-sky-blue);
      color: var(--color-jet);
    }
  }

  .label {
    text-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 0.8em;
  }

  .input-box {
    display: grid;
    gap: 0.2em;
  }

  .input-wrapper {
    position: relative;
  }

  .input {
    appearance: none;
    background-color: var(--card-background-color);
    border: var(--card-border-size) solid #{colors.alpha(
        var(--border-color-computed),
        var(--border-opacity)
      )};
    font-size: inherit;
    padding: var(--padding);

    min-width: 0;
    width: 100%;
  }

  .suffix {
    display: block;
    position: absolute;
    inset-inline-end: calc(var(--card-border-size) + var(--padding));
    inset-block-start: 50%;
    translate: 0 -50%;
  }

  .info-text {
    font-size: 0.8em;
    text-wrap: wrap;
  }

  &.state-error {
    --border-opacity: 80%;
    --border-color: var(--color-error);
  }
}
