.textfield-row {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .required-label {
    display: block;
    color: var(--color-sky-blue);
    border: 1px solid currentColor;
    border-radius: 100vmax;
    padding: 0.15em 0.5em;
    font-size: 0.6em;
  }

  > span {
    text-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 0.8em;
  }

  > input {
    appearance: none;
    background-color: var(--card-background-color);
    border: var(--card-border-size) solid var(--card-border-color);
    font-size: inherit;
    padding: 0.6em;

    min-width: 0;
    width: 100%;
  }
}
