.textfield-row {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  > span {
    text-wrap: wrap;
  }

  > input {
    appearance: none;
    background-color: var(--card-background-color);
    border: var(--card-border-size) solid var(--card-border-color);
    font-size: inherit;
    padding: 0.6em;

    min-width: 0;
    width: 100%;
  }
}
