.dialog {
  max-width: min(calc(100% - 2 * var(--padding-inline)), 96rem);
  max-height: min(calc(100% - 2 * var(--padding-inline)), 64rem);
  width: 100%;
  height: 100%;

  > * {
    display: block;
    overflow: hidden;
    isolation: isolate;
  }

  > *,
  .view-page,
  .calendar-page .content,
  .calendar {
    width: 100%;
    height: 100%;
  }

  .calendar {
    margin: 0;
    max-width: unset;
  }
}

.view-page {
  position: absolute;
  inset: 0;
  isolation: isolate;
}

.details-page {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  box-shadow: var(--card-shadow);

  &:not(.active) {
    translate: 25%;
    opacity: 0;
    pointer-events: none;
  }

  transition: all 0.2s ease;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .back-button {
    font-size: 1.2rem;
  }

  .content {
    flex-grow: 1;
    overflow-y: auto;
    padding-block-start: 0;
  }

  .date-row {
    display: flex;
    flex-wrap: wrap;
    gap: inherit;

    > * {
      flex: 1;
    }
  }
}

.success-pane {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  justify-items: center;
  background-color: inherit;
  gap: 1.8rem;

  > div {
    display: grid;
    justify-items: center;
    gap: 0.4rem;
  }

  > :first-child {
    font-size: 4rem;
    opacity: 0.25;
  }

  p[role="heading"] {
    font-size: 1.6rem;
  }

  &:not(.active) {
    translate: 25%;
    opacity: 0;
    pointer-events: none;
  }

  transition: all 0.2s ease;
}
