.metadata {
  gap: 1rem;

  h1 {
    font-size: 3.5rem;

    @media (max-width: 720px) {
      font-size: 2.6rem;
    }
  }

  a {
    text-decoration: none;
    color: currentColor;
  }
}

.claim,
.tag-list {
  @media (min-width: 720px) {
    font-size: 1.2rem;
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;
}

.last-row-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-block-start: 0.8rem;
}
