---
import type { ContactInfo } from "../../../models/Lecturer";

import Card from "../../widgets/Card.astro";
import Icon from "../../widgets/Icon.astro";

type Props = {
  contact: ContactInfo;
  [prop: string]: any;
};

const { contact, ...props } = Astro.props;
---

<Card {...props}>
  <section class="content-flow">
    <h2 class="title-2">Kontakt</h2>

    <h3 class="visually-hidden">Telefonní čísla</h3>
    <ul class="contact-list">
      <Icon aria-hidden="true" icon="phone" />
      {
        contact.telephone_numbers.map((telephone) => (
          <li>
            <a class="unstyled-link" href={`tel:${telephone}`}>
              {telephone}
            </a>
          </li>
        ))
      }
    </ul>

    <h3 class="visually-hidden">Emailové adresy</h3>
    <ul class="contact-list">
      <Icon aria-hidden="true" icon="email" />
      {
        contact.emails.map((email) => (
          <li>
            <a class="unstyled-link" href={`mailto:${email}`}>
              {email}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Card>

<style lang="scss">
  .contact-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.6rem;
    row-gap: 0.6rem;

    > :not(li) {
      color: var(--color-sunglow);
    }

    li {
      grid-column: 2;
      line-height: 1;
    }
  }

  section {
    display: grid;
    justify-items: center;
  }
</style>
