.tag-list {
  list-style-type: none;
  display: flex;
  gap: 0.6em;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 720px) {
    flex-direction: column;
    justify-items: stretch;
    text-align: center;
  }
}
