---
import sanitizeHtml from "sanitize-html";

import Card from "../../widgets/Card.astro";

type Props = {
  content: string;
  [prop: string]: any;
};

const { content, ...props } = Astro.props;
---

<Card {...props}>
  <section class="content-flow">
    <h2 class="title-2">O mně</h2>
    <Fragment set:html={sanitizeHtml(content)} />
  </section>
</Card>

<style lang="scss">
  section {
    line-height: 1.5;
  }
</style>
