.metadata {
  gap: 1rem;

  h1 {
    font-size: 3.5rem;

    @media (max-width: 720px) {
      font-size: 2.6rem;
    }
  }
}

.claim,
.tag-list {
  @media (min-width: 720px) {
    font-size: 1.2rem;
  }
}

.tag-list {
  margin-block-start: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;
}
