name: Build the container image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Install Podman
        uses: gacts/install-podman@v1

      - name: Build the image
        run: container/build.sh

      - name: Upload to TdA
        run: container/publish.sh
        env:
          SECRET: ${{ secrets.TEAM_SECRET }}
