name: Build the container image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Install Podman
        uses: gacts/install-podman@v1

      - name: Create .env file
        env:
          JWT_ACCESS_KEY: ${{ secrets.JWT_ACCESS_KEY }}
          DB_URL: ${{ secrets.DB_URL }}
        run: container/envgen.sh

      - name: Build the image
        run: container/build.sh

      - name: Upload to GHCR
        run: container/publish.sh
        env:
          REGISTRY_USER: "${{ github.actor }}"
          REGISTRY_PASSWORD: "${{ github.token }}"
          IMAGE_REGISTRY: "ghcr.io/${{ github.repository_owner }}"
