---
const tags = [
  {
    uuid: "6d348a49-d16f-4524-86ac-132dd829b429",
    name: "Dobrovolnictví",
  },
  {
    uuid: "8e0568c3-e235-42aa-9eaa-713a2545ff5b",
    name: "Studentské spolky",
  },
  {
    uuid: "996c16c8-4715-4de6-9dd0-ea010b3f64c7",
    name: "Efektivní učení",
  },
  {
    uuid: "c20b98dd-f37e-4fa7-aac1-73300abf086e",
    name: "Prezentační dovednosti",
  },
  {
    uuid: "824cfe88-8a70-4ffb-bcb8-d45670226207",
    name: "Marketing pro neziskové studentské projekty",
  },
  {
    uuid: "fa23bea1-489f-4cb2-b64c-7b3cd7079951",
    name: "Mimoškolní aktivity",
  },
  {
    uuid: "8325cacc-1a1f-4233-845e-f24acfd0287b",
    name: "Projektový management, event management",
  },
  {
    uuid: "ba65a665-e141-40ab-bbd2-f4b1f2b01e42",
    name: "Fundraising pro neziskové studentské projekty",
  },
];
---

<section id="contact">
  <div class="contact-container">
    <div class="tags-container">
      {tags.map((item) => <div class="tag">{item.name}</div>)}
    </div>
    <div class="contact-info-container">
      <div class="contact-title-container">
        <h3 class="contact-title">KONTAKT</h3>
        <img src="./cursor.svg" alt="ikonka kurzoru" class="cursor" />
      </div>
      <div class="second-tags">
        <div>Brno</div>
        <div>1200 Kč / hod</div>
      </div>
      <div class="contact-info">
        <div>
          <img src="./phone-icon.svg" alt="ikonka telefonu" /> +420 722 482 974
        </div>
        <div>
          <img src="./email-icon.svg" alt="ikonka emailu" />
          <div>placha@scg.cz</div>
          <div>predseda@scg.cz</div>
        </div>
      </div>
    </div>
  </div>
  <footer>© 2023 Teacher digital Agency</footer>
</section>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

  $jet: #333333;
  $prussian_blue: #00384d;
  $white: #ffffff;
  $sky_blue: #74c7d3;
  $sunglow: #fecb2e;

  #contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    align-content: center;
    background-color: $prussian_blue;
    background-image: url("footer-bg.svg");
    width: 100%;
    transform: translateY(5rem);
    flex-wrap: wrap;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $sky_blue;
    border-radius: 3rem;
    padding: 1rem;
    gap: 2rem;
    max-width: clamp(40rem, 60rem, 80rem);
    transform: translateY(-5rem);
  }

  .tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .tag {
    background-color: $prussian_blue;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    color: $white;
    font-size: 18px;
  }
  .contact-title-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .contact-title {
    color: $white;
    font-size: clamp(1.5rem, 3rem, 1.8vw);
    font-family: "Lalezar", "Open Sans", sans-serif;
    margin: 0;
  }
  .second-tags {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    div {
      background-color: $sunglow;
      border-radius: 25px;
      padding: 0.5rem 1rem;
      color: $white;
      font-size: 18px;
      font-weight: 500;
    }
  }
  .contact-info {
    color: $white;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    div {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
  .contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .contact-background {
    background-color: $prussian_blue;
    width: 100%;
    height: 10rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -99;
  }

  footer {
    color: $white;
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
</style>
