---

---

<header id="home">
  <svg
    class="top-vector"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1921 530"
    preserveAspectRatio="none"
    fill="none"
  >
    <path d="M0 152V0H1921V377L1456 530L0 152Z" fill="#74C7D3"></path>
  </svg>

  <div class="container">
    <a href="/lecturer"
      ><img src="./public/Logo.svg" class="logo" alt="logo" /></a
    >
    <nav>
      <ul>
        <li><a href="#home">Domů</a></li>
        <li><a href="#aboutme">O mně</a></li>
        <li><a href="#contact">Kontakt</a></li>
      </ul>
    </nav>
  </div>
  <div class="header-img-text">
    <div class="header-text">
      <h1 class="name">Mgr Petra Swil Plachá MBA</h1>
      <h2 class="claim">
        Aktivní studentka / Předsedkyně spolku / Projektová manažerka
      </h2>
    </div>
    <img
      class="portrait"
      src="https://tourdeapp.cz/storage/images/2023_02_25/412ff296a291f021bbb6de10e8d0b94863fa89308843b/big.png.webp"
      alt="portrét lektora"
    />
  </div>
</header>

<style lang="scss">
  $jet: #333333;
  $prussian_blue: #00384d;
  $white: #ffffff;
  $sky_blue: #74c7d3;
  $sunglow: #fecb2e;

  * {
    margin: 0;
    padding: 0;
  }

  header {
    padding: 0 calc(100vw / 14) 0 calc(100vw / 14);
  }

  .logo {
    display: flex;
    width: 150px;
    height: auto;
    color: yellow;
  }

  .top-vector {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    width: 100%;
    height: 16rem;

    path {
      fill: $sky_blue;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-text {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .name {
    color: $jet;
    font-size: clamp(1.5rem, 4rem, 4vw);
    font-family: "Lalezar", "Open Sans", sans-serif;
    border-radius: 25px;
    padding: 0.5rem;
    background: $sunglow;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }
  .claim {
    color: $jet;
    font-size: clamp(1rem, 3rem, 1.8vw);
    border-radius: 25px;
    padding: 0.5rem;
    background: $sky_blue;
    padding: 0.5rem 1rem;
  }

  nav ul {
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
      margin: 0 1rem;

      a {
        color: $white;
        text-decoration: none;
        font-size: 18px;
        position: relative;
        transition: transform 0.4s ease-in-out;
        transform: scale(0);
        transform-origin: center center 0;
      }
      a::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $white;
        position: absolute;
        left: 0;
        bottom: -4px;
        transition: transform 0.4s ease-in-out;
        transform: scale(0);
        transform-origin: center center 0;
      }

      a:hover {
        transform: scale(2);
      }

      a:hover::after {
        transform: scale(1);
      }
    }
  }

  .portrait {
    border-radius: 25%;
    rotate: 8.46deg;
    width: calc(3.6 * 100vw / 14);
  }
  .header-img-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
